<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Servlet.BorradorPeticionesContrasenia</listener-class>
    </listener>
    <servlet>
        <servlet-name>ListaCumpleanios</servlet-name>
        <servlet-class>Servlet.ListaCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCumpleanios</servlet-name>
        <servlet-class>Servlet.EliminarCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCumpleanios</servlet-name>
        <servlet-class>Servlet.EditarCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCumpleanios</servlet-name>
        <servlet-class>Servlet.AnadirCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarRSS</servlet-name>
        <servlet-class>Servlet.GenerarRSS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirFondo</servlet-name>
        <servlet-class>Servlet.AnadirFondo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirFondoVisita</servlet-name>
        <servlet-class>Servlet.AnadirFondoVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirUsuario</servlet-name>
        <servlet-class>Servlet.AnadirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarios</servlet-name>
        <servlet-class>Servlet.ListaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Servlet.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Servlet.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurarCuenta</servlet-name>
        <servlet-class>Servlet.ConfigurarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Servlet.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuerdaContrasenia</servlet-name>
        <servlet-class>Servlet.RecuerdaContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PideNuevaContrasenia</servlet-name>
        <servlet-class>Servlet.PideNuevaContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioContrasenia</servlet-name>
        <servlet-class>Servlet.CambioContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaVisitas</servlet-name>
        <servlet-class>Servlet.ListaVisitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirVisita</servlet-name>
        <servlet-class>Servlet.AnadirVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVisita</servlet-name>
        <servlet-class>Servlet.EliminarVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarVisita</servlet-name>
        <servlet-class>Servlet.EditarVisita</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaCumpleanios</servlet-name>
        <url-pattern>/usuario/ListaCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCumpleanios</servlet-name>
        <url-pattern>/usuario/EliminarCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCumpleanios</servlet-name>
        <url-pattern>/usuario/EditarCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCumpleanios</servlet-name>
        <url-pattern>/usuario/AnadirCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarRSS</servlet-name>
        <url-pattern>/GenerarRSS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirFondo</servlet-name>
        <url-pattern>/usuario/AnadirFondo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirFondoVisita</servlet-name>
        <url-pattern>/usuario/AnadirFondoVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirUsuario</servlet-name>
        <url-pattern>/admin/AnadirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuarios</servlet-name>
        <url-pattern>/admin/ListaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/admin/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/usuario/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurarCuenta</servlet-name>
        <url-pattern>/usuario/ConfigurarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/admin/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuerdaContrasenia</servlet-name>
        <url-pattern>/RecuerdaContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PideNuevaContrasenia</servlet-name>
        <url-pattern>/PideNuevaContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioContrasenia</servlet-name>
        <url-pattern>/CambioContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaVisitas</servlet-name>
        <url-pattern>/usuario/ListaVisitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirVisita</servlet-name>
        <url-pattern>/usuario/AnadirVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVisita</servlet-name>
        <url-pattern>/usuario/EliminarVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarVisita</servlet-name>
        <url-pattern>/usuario/EditarVisita</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Area de administracion</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Area de usuario</web-resource-name>
            <url-pattern>/usuario/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>usuario</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/errorLogin.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>captcha-width</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>captcha-height</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.png</url-pattern>
    </servlet-mapping>
</web-app>
