<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>autenticacion</servlet-name>
        <servlet-class>autenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cumpleanios</servlet-name>
        <servlet-class>Servlet.Cumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCumpleanios</servlet-name>
        <servlet-class>Servlet.EliminarCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCumpleanios</servlet-name>
        <servlet-class>Servlet.EditarCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imagenes</servlet-name>
        <servlet-class>Servlet.Imagenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Im</servlet-name>
        <servlet-class>Servlet.Im</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCumpleanios</servlet-name>
        <servlet-class>Servlet.AnadirCumpleanios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarRSS</servlet-name>
        <servlet-class>Servlet.GenerarRSS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autenticacion</servlet-name>
        <url-pattern>/autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cumpleanios</servlet-name>
        <url-pattern>/Cumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCumpleanios</servlet-name>
        <url-pattern>/EliminarCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCumpleanios</servlet-name>
        <url-pattern>/EditarCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imagenes</servlet-name>
        <url-pattern>/Imagenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Im</servlet-name>
        <url-pattern>/Im</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCumpleanios</servlet-name>
        <url-pattern>/AnadirCumpleanios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarRSS</servlet-name>
        <url-pattern>/GenerarRSS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
